.cred-security {
  background-color: var(--bg-purple);
  background-image: url(back.png);
}

@media all and (max-width: 1279px) {
  .cred-security {
    background-position: left ;
    background-image: url(mobile.png);
  }
}

@media all and (max-width: 767px) {
  .cred-security {
    background-image: url(mobile.png);
    min-height: 1150px;
    background-position: right center;
  }
}
